@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout_icon {
    transform: rotateY(180deg);
}
.elegant {
    font-size: 5vw;
    font-weight: 700;
}
.price__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.btn__container {
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.line__height {
    line-height: 1;
}
footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}